* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* DEFAULT STYLING */

section {
  margin-bottom: 80px;
}

.section__title {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6415ff;
  text-transform: uppercase;
}

.section__subtitle {
  margin-bottom: 24px;
  font-size: 52px;
  color: #243e63;
}

.section__subtitle--info {
  text-align: center;
  width: 45%;
  word-spacing: 3px;
  color: #7c8ba1;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5rem;
}

.text--purple {
  color: #6415ff;
}

.container {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

ul {
  list-style: none;
}

/* NAVIGATION */

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 45px;
}

.logo__name {
  font-size: 24px;
  font-weight: 700;
  padding-left: 8px;
}

.logo__list {
  display: flex;
  align-items: center;
  color: #243e63;
  transition: all 300ms ease;
}

.logo__list:hover {
  color: rgb(100, 21, 255);
}

.nav__links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__link {
  margin: 0px 20px;
  font-weight: 700;
}

.nav__link {
  color: #243e63;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: rgb(100, 21, 255);
}

.nav__links--special {
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.nav__link--special {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 24px;
  transition: all 300ms ease;
}

.nav__link--special a {
  color: #f7fafc;
  font-weight: 700;
  transition: all 300ms ease;
}

.nav__link--special a:hover {
  color: #f7fafc;
}

.nav__link--special:hover {
  background-color: rgb(80, 17, 204);
  cursor: pointer;
}

.nav__link--hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #6415ff;
  width: 0%;
  bottom: -6px;
  left: 50%;
  transition: all 300ms ease;
}

.nav__link--hover-effect:hover:after {
  width: 100%;
  left: 0;
}

/* MOBILE NAVIGATION */

.btn__menu {
  background: transparent;
  position: absolute;
  right: 1em;
  font-size: 36px;
  text-align: center;
  border: none;
  color: rgb(36, 62, 99);
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 55%;
  margin: 24px 60px 0px 60px;
  padding: 24px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu--open .menu__backdrop {
  display: flex;
}

.btn__menu--close {
  position: absolute;
  right: 36px;
  top: 12px;
}

.menu__list {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.menu__link--special {
  background-color: #6415ff;
  border-radius: 9999px;
  color: #f7fafc;
  padding: 12px 36px;
  margin-bottom: 1em;
  transition: all 300ms ease;
}

.menu__link--special:hover {
  background-color: rgb(80, 17, 204);
  color: #f7fafc;
}

.menu__link {
  transition: all 300ms ease;
}

.menu__link:hover {
  color: rgb(100, 21, 255);
}

/* LANDING */

.landing__wrapper {
  display: flex;
}

.landing__info--wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.landing__img--wrapper {
  width: 60%;
}

.landing__img {
  width: 100%;
}

.landing__info--header {
  margin-bottom: 28px;
  margin-top: 12px;
  font-size: 48px;
  color: #1a202c;
}

.landing__info--subheader {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 20px;
  color: #243e63;
  word-spacing: 2px;
  line-height: 2rem;
}

.input__wrapper {
  position: relative;
  margin-bottom: 60px;
}

.input__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 12px 36px;
  border: none;
  background-color: #6415ff;
  color: #f7fafc;
  font-weight: 700;
  font-size: 16px;
  border-radius: 9999px;
  transition: all 300ms ease;
  margin: 8px 60px 8px 0px;
}

.input__button:hover {
  background-color: rgb(80, 17, 204);
  cursor: pointer;
}

.text__input {
  padding: 24px 24px;
  font-size: 16px;
  border-radius: 9999px;
  border: 2px solid gray;
  border-color: rgb(229, 231, 235);
  color: rgb(36, 62, 99);
  width: 90%;
  transition: all 300ms ease;
}

.text__input:hover {
  border-color: rgb(160, 174, 192);
}

.text__input:active {
  border-color: rgb(160, 174, 192);
}

.text__input:focus {
  border-color: rgb(100, 21, 255);
}

.landing__customer--title {
  font-weight: 700;
  font-size: 14px;
  color: #a0aec0;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.landing__customer--img {
  width: 80%;
}

/* FEATURES / SERVICES */

.features__info {
  padding: 80px 0;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.service {
  display: flex;
  align-items: start;
  width: calc(100% / 3);
  padding: 24px;
}

.service__img--wrapper {
  width: 25%;
}

.service__info--wrapper {
  width: 75%;
  padding: 0px 16px;
}

.service figure {
  display: flex;
  justify-content: center;
}

.service__img {
  border: 2px solid gray;
  border-color: rgb(229, 231, 235);
  border-radius: 9999px;
  padding: 20px;
}

.service__title {
  margin-bottom: 24px;
  color: #243e63;
}

.service__subtitle {
  color: #7c8ba1;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

/* QUALITY */

.quality__info {
  display: flex;
}

.quality__info--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
}

.quality__subtitle--info {
  width: 100%;
  word-spacing: 3px;
  line-height: 1.5rem;
  color: #7c8ba1;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 36px;
}

.quality__btn {
  width: 25%;
  font-size: 16px;
  background-color: #6415ff;
  color: #f7fafc;
  border: none;
  padding: 12px 36px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.quality__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
}

/* STEPS */

.steps__info {
  display: flex;
}

.steps__subtitle {
  margin-bottom: 36px;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.steps__img {
  width: 100%;
  display: flex;
}

.steps__info--wrapper {
  width: 50%;
  margin-left: 48px;
}

.steps__step--wrapper {
  display: flex;
  margin-bottom: 12px;
}

.steps__number--wrapper {
  width: 50%;
}

.steps__description--wrapper {
  width: 60%;
  padding: 0px 12px 12px 12px;
}

.steps__number {
  padding: 0px 8px 8px 8px;
  color: #cbd5e0;
  font-size: 36px;
}

.step__description--title {
  margin-bottom: 16px;
  color: #243e63;
}

.step__description--info {
  color: #718096;
  line-height: 1.5rem;
}

/* VALUES */

.values__info {
  display: flex;
}

.values__title {
  font-size: 44px;
}

.values__description--wrapper {
  width: 70%;
  margin-right: 120px;
}

.values__img {
  width: 100%;
}

.values__description {
  margin-bottom: 24px;
  color: #7c8ba1;
  line-height: 1.5rem;
}

.values__info--wrapper {
  width: 50%;
}

.values__info--description--wrapper {
  display: flex;
  margin-bottom: 48px;
}

.values__description--title {
  color: #243e63;
  margin-bottom: 16px;
}

.values__description--info {
  color: #718096;
}

.values__btn {
  background-color: #6415ff;
  color: #f7fafc;
  border: none;
  padding: 12px 36px;
  border-radius: 9999px;
  transition: all 300ms ease;
}

.values__btn:hover {
  cursor: pointer;
  background-color: rgb(80, 17, 204);
}

.values__span {
  background-color: #9ae6b4;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 9999px;
  font-weight: 500;
}

.values__span--two {
  background-color: #feb2b2;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 9999px;
  font-weight: 500;
}

/* PRICING / PLANS */

.pricing__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__subtitle {
  color: #7c8ba1;
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin-bottom: 48px;
}

.plans {
  display: flex;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 80px;
  border-left: 1px solid rgb(229, 231, 235);
  border-right: 1px solid rgb(229, 231, 235);
  border-bottom: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
}

.pricing__wrapper {
  height: 33%;
  padding: 24px;
  margin-bottom: 16px;
}

.for__who--wrapper {
  height: 40%;
  padding: 16px 24px;
  margin-bottom: 16px;
  text-align: center;
}

.buy__now--wrapper {
  height: 27%;
  padding: 24px;
}

.plan__title {
  font-size: 22px;
  color: #1a202c;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
}

.plan__price {
  font-size: 48px;
  color: #1a202c;
  margin-bottom: 12px;
}

.price__monthly {
  color: #a0aec0;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.for__who--title {
  color: #1a202c;
  font-size: 20px;
  margin: 12px 0px 24px 0px;
}

.for__who--description {
  margin-bottom: 16px;
  color: #718096;
}

.plan__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
  padding: 18px 52px;
  border: none;
  border-radius: 9999px;
  font-weight: 700;
  transition: all 300ms ease;
}

.plan__btn:hover {
  cursor: pointer;
  transform: translateX(1px) translateY(-1.5px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
}

.plan__btn--special {
  background: #f7fafc;
  color: #6415ff;
}

.plan__btn--special:hover {
  background: rgb(226, 232, 240);
}

.plan__btn--third {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__border {
  height: 3px;
  width: 100%;
  background: rgb(229, 231, 235);
}

.plan__border--top {
  height: 1rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.third {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__special {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__special--text-color {
  color: #f7fafc;
}

.plan__special--text-color-second {
  color: #e2e8f0;
}

.plan__border--top-special {
  height: 1rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__border--special {
  background: rgb(102, 126, 234);
}

/* TESTIMONIALS */

.testimonials__info {
  display: flex;
  margin-bottom: 48px;
}

.testimonials__img--wrapper {
  width: 50%;
}

.testimonials__img {
  width: 100%;
  padding-top: 60px;
}

.testimonials__description--wrapper {
  width: 50%;
  padding: 0px 48px;
}

.testimonials__subtitle--info {
  width: 100%;
  text-align: left;
}

.testimonials__testimonial {
  margin: 24px 0;
}

.fa-star {
  color: #fabf2a;
}

.testimonial__rating {
  margin-bottom: 20px;
}

.testimonial__title {
  color: #243e63;
  font-size: 20px;
  margin-bottom: 20px;
}

.testimonial__para {
  color: #4a5568;
  line-height: 1.5rem;
  margin-bottom: 24px;
}

.testimonial__person--info {
  display: flex;
  width: 100%;
  align-items: center;
}

.testimonial__person--info figure {
  display: flex;
  align-self: center;
  justify-content: center;
}

.testimonial__person--img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  margin-right: 24px;
}

.testimonial__name {
  font-size: 20px;
  color: #243e63;
  margin-bottom: 12px;
}

.testimonial__founder {
  color: #7c8ba1;
  margin-right: 80px;
}

.testimonial__person--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.fa-arrow-left {
  margin-right: 24px;
}

.fa-arrow-left,
.fa-arrow-right {
  background-color: #edf2f7;
  padding: 16px;
  border-radius: 9999px;
  transition: all 300ms ease;
  color: #6415ff;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  cursor: pointer;
  background-color: rgb(226, 232, 240);
}

/* FAQ */

.faq__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.accordion {
  background-color: #edf2f7;
  padding: 16px 40px;
  border-radius: 8px;
  max-width: 900px;
  margin: 20px auto;
  transition: all 300ms ease;
}

.accordion:hover {
  background-color: rgb(226, 232, 240);
  cursor: pointer;
}

.accordion__header {
  color: #2d3748;
  position: relative;
}

.accordion__header--text {
  color: #2d3748;
  font-weight: 700;
  font-size: 24px;
}

.accordion__header--text:after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 0;
  transition: all 300ms ease;
}

.accordion__header--text.active::after {
  transform: rotate(45deg);
}

.accordion__body--content {
  color: rgb(45, 55, 72);
}

.accordion__body--text {
  line-height: 1.5rem;
  color: rgb(45, 55, 72);
}

.accordion__body {
  margin-top: 20px;
  display: none;
}

.accordion__body + .accordion__header--text.active {
  display: block;
}

/* GET STARTED */

.get__started--body {
  background: #6415ff;
  height: 236px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.get__started--body-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 72px;
}

.get__started--title {
  font-size: 28px;
  color: #f7fafc;
  margin-left: 48px;
}

.get__started--button-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.get__started--button {
  padding: 22px 44px;
  font-size: 16px;
  margin-right: 24px;
  background: #f56565;
  border-radius: 9999px;
  color: #f7fafc;
  border: none;
  font-weight: bold;
  transition: all 300ms ease;
  border: 1px solid rgb(229, 62, 62);
}

.get__started--button:hover {
  cursor: pointer;
  background: rgb(229, 62, 62);
}

.get__started--button-special {
  border: 1px solid rgb(160, 174, 192);
  background: #6415ff;
}

.get__started--button-special:hover {
  background-color: rgb(247, 250, 252);
  color: rgb(100, 21, 255);
}

/* FOOTER */

#footer {
  background: #6415ff;
  height: 40vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3em;
  border-bottom: 2px solid rgb(116, 44, 255);
}

.footer__link--wrapper li {
  margin-bottom: 16px;
}

.footer__link {
  color: #f7fafc;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #6415ff;
  padding-bottom: 4px;
  transition: all 300ms ease;
}

.footer__link:hover {
  border-bottom: 2px solid #f7fafc;
}

.footer__link--title {
  color: #f7fafc;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

/* UNDER FOOTER LINKS */

.footer__row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer {
  background: #6415ff;
  padding-bottom: 60px;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--img {
  height: 40px;
  margin-right: 12px;
}

.footer__logo {
  color: #f7fafc;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer__copyright {
  color: #cbd5e0;
}

.footer__nav--link {
  background: #f7fafc;
  padding: 12px;
  border-radius: 9999px;
  margin-right: 12px;
  transition: all 300ms ease;
}

.footer__nav--link i {
  font-size: 16px;
  height: 16px;
  width: 16px;
  text-align: center;
}

.footer__nav--link:hover {
  background-color: rgb(203, 213, 224);
}

@media (max-width: 1280px) {

  .landing__info--header {
    font-size: 42px;
  }
  .landing__info--subheader {
    font-size: 18px;
  }
  .landing__img {
    max-width: 500px;
  }
  .landing__info--wrapper {
    width: 45%;
  }
  .landing__img--wrapper {
    width: 55%;
  }
  .landing__img--wrapper figure {
    display: flex;
    justify-content: flex-end;
  }

  .text__input {
    font-size: 14px;
  }
  .input__button {
    padding: 8px 28px;
    margin-left: 24px;
  }

}

@media (max-width: 1158px) {

  .get__started--body-description {
    flex-direction: column;
  }
  .get__started--title {
    margin: 24px 0;
    margin-left: 0;
    text-align: center;
  }
  .get__started--button-wrapper {
    width: 65%;
    margin-bottom: 24px;
  }

  .footer__links {
    max-width: 900px;
  }

}

@media (max-width: 928px) {

  .section__subtitle {
    font-size: 36px;
  }

  .nav__link {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .menu__backdrop {
    margin-right: 32px;
    margin-left: 32px;
    bottom: 50%;
  }

  .landing__info--header {
    font-size: 32px;
    text-align: center;
  }
  .landing__info--subheader {
    font-size: 16px;
    text-align: center;
    word-spacing: 1px;
    width: 90%;
    align-self: center;
  }
  .landing__customer--title {
    text-align: center;
  }
  .landing__customer--img {
    align-self: center;
  }
  .landing__img {
    max-width: 1200px;
  }
  .landing__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .landing__info--wrapper {
    width: 75%;
    margin-bottom: 48px;
  }
  .text__input {
    width: 80%;
  }
  .input__wrapper {
    display: flex;
    justify-content: center;
  }
  .input__button {
    margin: 8px 80px 8px 0;
  }
  .text__input {
    font-size: 16px;
  }

  .service {
    width: calc(100% / 2);
  }

  .quality__img--wrapper {
    display: flex;
    align-items: center;
    max-width: 400px;
  }
  .quality__btn {
    width: 40%;
  }

  .steps__subtitle {
    font-size: 40px;
  }
  .steps__number {
    padding-left: 0;
  }
  .steps__description--wrapper {
    width: 80%;
  }

  .values__title {
    font-size: 40px;
  }
  .values__img---wrapper {
    display: flex;
    align-self: center;
  }
  .values__img {
    max-width: 500px;
  }
  .values__info--description--wrapper {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .values__description--wrapper {
    margin-right: 60px;
    width: 60%;
  }
  .values__info--wrapper {
    margin-bottom: 24px;
    width: 80%;
  }
  .values__description--info {
    line-height: 2rem;
  }
  .values__description {
    margin-bottom: 40px;
  }

  .pricing__subtitle {
    font-size: 18px;
    width: 60%;
  }
  .plans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plan {
    margin-right: 0;
    width: 45%;
  }

  .testimonials__img--wrapper {
    display: flex;
    align-self: center;
    width: 40%;
  }
  .testimonials__img {
    padding: 0;
  }
  .testimonials__description--wrapper {
    padding-right: 0;
    width: 60%;
  }
  .testimonials__subtitle--info {
    font-size: 16px;
  }
  .testimonial__para {
    margin-bottom: 36px;
  }
  .testimonial__person--wrapper {
    margin-right: 12px;
    display: flex;
    justify-content: center;
  }
  .testimonial__founder {
    margin-right: 80px;
  }

  .faq__subtitle {
    font-size: 52px;
  }
  .faq__subtitle--info {
    width: 60%;
  }
  .accordion__header--text {
    font-size: 20px;
  }

  .footer__links {
    max-width: 700px;
  }
}
